# Remix compiler artifacts
# **/artifacts/
# **/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Node modules
/node_modules
packages/gigabridge-contracts/contracts/adapters/aztec/aztec_adapter_l2/codegenCache.json
packages/gigabridge-contracts/store/pxe1/data.mdb
packages/gigabridge-contracts/store/pxe1/lock.mdb

warptoad-gigabridge-*.tgz
